{% extends 'base.html' %}
  {% block meta %}
  <title>My Watchlist</title>
  {% endblock meta %}
  
  {% block navbar %}
  <div class="d-flex">
    <a class="navbar-brand" href="#">PBD Assignments</a>
  </div>
  
  <div class="collapse navbar-collapse" id="navbarElements">
    <div class="navbar-nav">
      <a class="nav-link" aria-current="page" href="{% url 'example_app:index' %}">Home</a>
      <a class="nav-link" aria-current="page" href="{% url 'katalog:show_katalog' %}">Katalog</a>
      <a class="nav-link active" aria-current="page" href="{% url 'mywatchlist:show_mywatchlist' %}">Watchlist</a>
      <a class="nav-link" aria-current="page" href="{% url 'todolist:show_todolist' %}">To-Do List</a>
    </div>
  </div>
  {% endblock navbar %}

  {% block content %}
  <div style="padding-top: 64px;">
    <h1>Assignment #3 PBP/PBD</h1>

    <h5>Name: </h5>
    <p>{{ name }}</p>

    <h5>Student ID: </h5>
    <p>{{ npm }}</p>

    <div class="button">
      <h2>My Watchlist</h2>
    </div>

    <table>
      <tr>
        <th>Watched</th>
        <th>Title</th>
        <th>Rating</th>
        <th>Release Date</th>
        <th>Review</th>
      </tr>
        {% for item in list_item %}
            <tr>
                <td class="centered">{{ item.watched }}</td>
                <td>{{ item.title }}</td>
                <td class="centered">{{ item.rating }}</td>
                <td class="centered">{{ item.release_date }}</td>
                <td>{{ item.review }}</td>
            </tr>
        {% endfor %}
    </table>

    <h3 class="centered">{{ message }}</h3>
  </div>
  {% endblock content %}