{% extends 'base.html' %}
  {% block meta %}
  <title>My Watchlist</title>
  <style>
    table, th, td {
      border:1px solid black;
      border-collapse: collapse;
    }
    th {
      padding: 10px 20px 5px
    }
    td {
      padding: 5px 15px;
    }
    .centered {
      text-align:center;
    }
  </style>
  {% endblock meta %}
  
  {% block content %}

  <h1>Assignment #3 PBP/PBD</h1>

  <h4>Name: </h4>
  <p>{{ name }}</p>

  <h4>Student ID: </h4>
  <p>{{ npm }}</p>

  <h3>My Watchlist</h3>
  <table>
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>

    {% for item in list_item %}
        <tr>
            <td class="centered">{{ item.watched }}</td>
            <td>{{ item.title }}</td>
            <td class="centered">{{ item.rating }}</td>
            <td class="centered">{{ item.release_date }}</td>
            <td>{{ item.review }}</td>
        </tr>
    {% endfor %}

  </table>

  {% endblock content %}